/* DESKTOP SCREEN */

@media screen and (max-width:1440px) {
    .container{
        padding: 0px 80px;
    }
}

/* LAPTOPS SCREEN */

@media screen and (max-width:1024px) {
    .container{
        padding: 0px 50px;
    }
    header .menu ul{
        gap: 25px;
    }
    .hero-section::before{
        font-size: 130px;
    }
    .service-container{
        grid-template-columns: repeat(2, 404px);
    }
    .about_me_container{
        flex-direction: column;
    }
    .about_me_container .about_me_content{
        padding-bottom: 20px;
    }
    .contactus{
        margin: 100px 0px;
    }
    footer .brand_logo, footer .menu, footer .our_services, footer .contact{
        width: 50%;
    }
    footer{
        flex-wrap: wrap;
    }
}

/* TAB SCREEN */

@media screen and (max-width:768px) {
    .container{
        padding: 0px 30px;
    }
    header .menu{
        display: none;
    }
    header .menu_icon{
        display: block;
        position: relative;
        z-index: 1;
    }
    .menu.active{
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        z-index: 1;
        background-color: #5d0bd3;
    }
    .menu.active ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 60px;
    }
    .hero-section{
        height: 770px;
    }
    .hero-section::after{
        width: 500px;
        height: 525px;
    }
    .hero-section::before{
        font-size: 100px;
    }
    .service-container{
        grid-template-columns: repeat(1, 404px);
    }
    .contactus form{
        grid-template-columns: repeat(1, 1fr);
        padding: 0px 20px;
    }
    footer{
        padding: 20px;
    }
    footer .brand_logo, footer .menu, footer .our_services, footer .contact{
        width: 100%;
    }
}

/* MOBILE SCREEN */
@media screen and (max-width:500px) {
    .container{
        padding: 0px 15px;
    }
    header{
        margin: 10px 0px 10px 0px;
    }
    .hero-section{
        height: 725px;
    }
    .hero-section::after{
        width: 387px;
        height: 424px;
    }
    .hero-section::before{
        font-size: 50px;
    }
    .hero-section h1{
        font-size: 55px;
        line-height: 65px;
    }
    .aboutus{
        padding: 10px;
    }
    .about_me_container .about_me_content{
        font-size: 18px;
        line-height: 30px;
    }
    .about_me_img{
        width: 385px;
        height: 360px;
    }
    .about_me_img img{
        width: 100%;
    }
    .services{
        padding: 60px 0px;
    }
}