@font-face {
    font-family:'Lato-Bold';
    src: url('Font/Lato-Bold.ttf');
}
@font-face {
    font-family:'Lato-Regular';
    src: url('Font/Lato-Regular.ttf');
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.container{
    width: 100%;
    padding: 0px 120px;
}

/* HEADER STYLE */

header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: radial-gradient(50% 50% at 50% 50%, #5f0bb8 0%, #6a1cbd 100%);
    border-radius: 26px;
    margin: 43px 0px 27px 0px;
    padding: 0px 34px;
}
header .logo{
    font-family:'Lato-Bold';
    color: #ffd700;
    font-size: 30px;
    text-transform: uppercase;
}
header .menu ul{
    display: flex;
    gap: 40px;
}
header .menu ul li{
    font-size: 25px;
    color: #fff;
    font-family:'Lato-Regular';
    cursor: pointer;
    position: relative;
}

header .menu ul li::after{
    content: '';
    width: 60px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s linear;
}
header .menu ul li:hover::after{
    opacity: 1;
}

header .hire_me{
    width: 133px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #5f0bb8;
    font-family:'Lato-Bold';
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow-x: hidden;
}
header .hire_me::after{
    content: 'Hire Me';
    position: absolute;
    width: 133px;
    height: 44px;
    background-color: #5f0bb8;
    color: #fff;
    font-family:'Lato-Bold';
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 100%;
    transition: .5s linear;
}
header .hire_me:hover::after{
    left: 0%;
}
header .menu_icon{
    display: none;
}
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 40px;
  
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#fff;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  .ham6 .top {
    stroke-dasharray: 40 172;
  }
  .ham6 .middle {
    stroke-dasharray: 40 111;
  }
  .ham6 .bottom {
    stroke-dasharray: 40 172;
  }
  .ham6.active .top {
    stroke-dashoffset: -132px;
  }
  .ham6.active .middle {
    stroke-dashoffset: -71px;
  }
  .ham6.active .bottom {
    stroke-dashoffset: -132px;
  }

  /* HERO SECTION  */
  .hero-section{
    width: 100%;
    height: 1022px;
    background: linear-gradient(13.06deg, #5d0bd3 90.62%, #530c9f 92.62%);
    border-radius: 26px;
    background-position: center;
    background-size: contain;
    position: relative;
    box-shadow: 0px 82px 82px 0px #0000002b;
  }
  .hero-section h1{
    font-family:'Lato-Bold';
    font-size: 70px;
    line-height: 84px;
    text-align: center;
    padding-top: 65px;
    color: #fff;
  }
  .hero-section h1 span{
    color: #ffd700;
  }
  .hero-section::after{
    content: '';
    width: 800px;
    height: 700px;
    background-image: url('images/developer.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
  .hero-section::before{
    content: 'Developer';
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:'Lato-Bold';
    font-size: 190px;
    letter-spacing: 9px;
    text-transform: uppercase;
    color: #ffffff59;
  }
  .social_media{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
  }
  .social_media ul{
    display: flex;
    gap: 30px;

  }
  .social_media ul li{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff57;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s linear;
  }
  .social_media ul li:hover{
    transform: translateY(-15px);
  }

  /* SERVICES DESIGN */
  .services{
    width: 100%;
    padding: 200px 0px;
  }
  .services h1{
    font-family:'Lato-Bold';
    font-size: 50px;
    text-align: center;
    color: #2b2b2b;
  }
  .services p{
    font-family:'Lato-Regular';
    font-size: 25px;
    line-height: 30px;
    color: #aaaaaa;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .services h2{
    color: #4a4a4a;
    font-family:'Lato-Bold';
    font-size: 31px;
    padding-bottom: 12px;
    text-align: center;
  }
  .service-container .webdevelopment, .service-container .appdevelopment, .service-container  .webdesign{
    width: 404px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 35px;
    border-radius: 16px;
  }
  .service-container .appdevelopment{
    background: linear-gradient(136.09deg, #530c9f 3.47%, #5d0bd3 96.13%);
  }
  .service-container .appdevelopment h2{
    color: #eddefd;
  }
  .service-container .appdevelopment p{
    color: #b3b3b3;
  }
  .service-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 404px);
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  /* ABOUT ME STYLE */
  .aboutus{
    width: 100%;
    background: linear-gradient(134.06deg, #5d0db3 92.62%, #530c9f 92.62%);
    padding: 30px;
    border-radius: 26px;
  }
  .about_me{
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 20px 0px 20px;
  }
  .about_me h1{
    font-family:'Lato-Bold';
    font-size: 50px;
    text-align: center;
    color: #2b2b2b;
  }
  .about_me p{
    font-family:'Lato-Regular';
    font-size: 25px;
    line-height: 30px;
    color: #aaaaaa;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .about_me_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    width: 100%;
    max-width: 1300px;
    margin: auto;
  }
  .about_me_container .about_me_content{
    font-family:'Lato-Regular';
    font-size: 20px;
    line-height: 38px;
    color: #959595;
    text-align: justify;
  }
  .about_me_container .about_me_content  .cv_btn{
    width: 187px;
    height: 48px;
    background: linear-gradient(13413.06deg, #5d0db3 92.62%, #530c9f 92.62%);
    box-shadow: 0px 10px 0px 0px #5d0db34f;
    font-family:'Lato-Bold';
    font-size: 16px;
    color: #d5ded5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-top: 40px;
    cursor: pointer;
    gap: 10px;
    transition: .2s linear;
  }
  .about_me_container .about_me_content  .cv_btn::before{
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('images/Download.png');
  }
  .about_me_container .about_me_content  .cv_btn:hover{
    box-shadow: 0px 0px 0px 0px #5d0db34f;
    transform: translateY(5px);
  }
  .our_skills{
    width: 100%;
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .skill_tags{
    width: 220px;
    height: 275px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .skill_tags h3{
    font-family:'Lato-Bold';
    font-size: 31px;
    text-transform: uppercase;
    color: #646464;

  }
  .skill_tags img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  /* PORTFOLIO STYLE */
  .portfolio{
    width: 100%;
    padding: 50px 0px 0px 0px;
  }
  .portfolio h1{
    font-family:'Lato-Bold';
    font-size: 50px;
    text-align: center;
    color: #2b2b2b;
  }
  .portfolio p{
    font-family:'Lato-Regular';
    font-size: 25px;
    line-height: 30px;
    color: #aaaaaa;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .project-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .projects{
    width: 416px;
    height: 416px;
    position: relative;
  }
  .projects img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: .2s linear;
  }
  .projects::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #5d0db34f;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
  }
  .projects:hover::after{
    opacity: 1;
  } 
  .portfolio .see_more{
    background: linear-gradient(134.06deg, #5d0bd3 92.62%, #530c9f 92.62%);
    box-shadow: 0px 10px 0px 0px #5d0db34f;
    width: 168px;
    height: 48px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-family:'Lato-Bold';
    font-size: 16px;
    margin: 20px auto;
    color: #d5d5d5;
    transition: .2s linear;
    cursor: pointer;
  }
  .portfolio .see_more:hover{
    box-shadow: 0px 0px 0px 0px #5d0db34f;
    transform: translateY(5px);
  }
  .portfolio .see_more::after{
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('images/Arrow\ Right.png');
  }

  /* CONTACT STYLE */

  .contactus{
    width: 100%;
    padding: 60px 0px;
    background-color: #f5f2f9;
    margin: 200px 0px;
  }
  .contactus h1{
    font-family:'Lato-Bold';
    font-size: 50px;
    text-align: center;
    color: #2b2b2b;
  }
.contactus p{
    font-family:'Lato-Regular';
    font-size: 25px;
    line-height: 30px;
    color: #aaaaaa;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .contactus form{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .contactus form input{
    height: 54px;
    border: 1px solid #b8b8b8;
    border-radius: 8px;
    outline: none;
    padding-left: 20px;
  }
  .contactus form button{
    height: 54px;
    background: linear-gradient(134.06deg, #5d0bd3 92.62%, #530c9f 92.62%);
    box-shadow: 0px 10px 0px 0px #5d0db34f;
    border: none;
    outline: none;
    font-family:'Lato-Bold';
    font-size: 16px;
    color: #d5d5d5;
    border-radius: 10px;
    transition: .2s linear;
    cursor: pointer;
  }
  .contactus form button:hover{
    box-shadow: 0px 0px 0px 0px #5d0db34f;
    transform: translateY(5px);
  }



  /* FOOTER STYLE */

  footer{
    width: 100%;
    padding: 80px;
    background: linear-gradient(134.06deg, #5d0bd3 92.62%, #530c9f 92.62%);
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  footer .brand_logo{
    width: 430px;
  }
  footer .brand_logo .logomark{
    color: #c8cbf0;
    font-family:'Lato-Bold';
    font-size: 36px;
    text-transform: uppercase;
  }
  footer .brand_logo p{
    color: #9c9c9c;
    font-family:'Lato-Regular';
    font-size: 16px;
    line-height: 26px;
    padding: 15px 0px;
  }
  footer .brand_logo .social_media{
    padding-top: 0px;
    justify-content: start;
  }

  footer .menu ul li, footer .our_services ul li, footer .contact ul li{
    font-family:'Lato-Regular';
    font-size: 20px;
    color: #9c9c9c;
    padding-top: 20px;
    cursor: pointer;
  }
  footer .menu ul li:first-child, footer .our_services ul li:first-child, footer .contact ul li:first-child{
    color: #e3e3e3;
    font-family:'Lato-Bold';
    font-size: 26px;
    padding-bottom: 25px;

  }
  footer .contact ul li{
    display: flex;
    align-items: center;
    gap: 5px;
  }